.someClass {}

.title{
    margin-top: 10px;
    margin-left: 70px;
    font-weight: bolder;
}
.body {
    font-family: serif;
    font-size: large;
    margin: 20px;
    border: 2px solid black;
    max-width: 250px;
    display: flex;

    justify-content: center;
    background-color: #08aac7;
}
